.doneRow {
  background: #fcfcfc;
  color: #666;
}

.commentCol {
  width: 55%;
  padding-right: 5px;
}

.nameCol {
  width: 10%;
  padding-right: 5px;
}

.headerCol {
  width: 20%;
  padding-right: 5px;
}
.hrefCol {
  width: 40%;
  padding-right: 5px;
}
.timestampCol {
  width: 50px;
}
.actionsCol {
  width: 20px;
}
