#main {
  overflow: scroll;
  flex: 1;
  background: #fafafa;
}


.hidden {
  display: none;
}

li {
  font-size: 22px;
}

h2.feedback-header.feedback-header.feedback-header {
  clear: both;
  grid-column: 1/5;
  font-size: 20px;
  margin-top: 15px;
}

.card {
  padding: 20px;
}

.group {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 10px;
}

.panel{
  margin-bottom:10px;

}

.link,
.link a {
  color: #aaa;
  /* font-size: 80%; */
}

.content {
  display: flex;
  flex-direction: column;
}


.header .matinp {
  margin-left: 15px;
  margin-top: 5px;
  width:120px;
}

.card-content {
  overflow: auto
}

b {
  background: none;
}


